body{
    background-color: rgb(29, 29, 29);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#main{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    color:  rgb(225, 225, 225);
    font-family:'Trebuchet MS';
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5rem;

    background: transparent;
    border-radius: 20px;
    border: 1px rgb(163, 104, 83) solid ;
}

#title{
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

#word {
    margin: auto;
    text-align: center;
    width: 90%;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#word > span {
    font-size: 2rem;
    width: 42px;
    height: 42px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.draw{
    display: flex;
    flex-direction: row;
}

#canvas {
    margin-top: 5vh;
    border: rgb(163, 104, 83) solid 1px;
    background-color: rgb(225, 225, 225);
    width: 100%;
    max-width: 800px;
}

#usedLetters, #usedWords{
    padding-left: 10px;
    font-size: 1.5rem;
    width: 400px;
    height: auto;
    background-color:  rgb(163, 104, 83);
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.result-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.letters, .words{
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color:transparent;
    border:  3px solid rgb(163, 104, 83);
    color: rgb(225, 225, 225);
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    white-space: normal;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#letterChosen{
    font-size: 1.5rem;
    max-width: 25rem;
    width: 20rem;
    height: 3rem;
    border: rgb(163, 104, 83) solid 1px;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;

}

#play{
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 25rem;
    width: 20rem;
    height: 3.3rem;

    border: solid 5px rgb(163, 104, 83);
    background: transparent;
    color:rgb(163, 104, 83);

    cursor:pointer;
}

#play:hover{
    background-color: rgb(163, 104, 83);
    color:  rgb(225, 225, 225);
}

.attempts > h2{
    margin-top: 2rem;
    font-size: 1.85rem;
    font-weight: bolder;
}

#attempts {
    font-size: 1.85rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}
@media (max-width: 768px) {
    #title {
        font-size: 2rem; 
    }

    #word > span {
        font-size: 1.5rem; 
        width: 15px; 
    }

    .result-container {
        gap: 10px;
        margin-top: 10px;
        width: 500px;
    }

    .words, .letters{
        font-size: 1rem;
        width: 290px;
    }

    #usedLetters, #usedWords {
        width: 100%;
        font-size: 1.5rem;
        height: auto;
    }

    #letterChosen, #play {
        font-size: 1.25rem;
        width: 100%; 
    }

    #canvas {
        width: 100%;
        max-width: 420px;
    }
}

