body{
    background-color: rgb(29, 29, 29);
}

#main{
    color: white;
    font-family:'Trebuchet MS';
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#title{
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

#word {
    margin: auto, auto;
    text-align: center;
    width: 1300px;
    height: auto;
    /*border: 1px solid rgb(142, 69, 38);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#word > span {
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#canvas {
    margin-top: 100px;
    border: rgb(163, 104, 83) solid 1px;
    background-color: rgb(225, 225, 225);
}

#usedLetters, #usedWords{
    padding-left: 10px;
    font-size: 35px;
    width: 500px;
    height: 200px;
    border: rgb(194, 152, 127) 1px solid;
    background-color:  rgb(163, 104, 83);

    display: flex;
    justify-content: center;
    align-items: center;
} 


#letterChosen{
    font-size: 20px;
    width: 250px;
    height: 50px;
    border:rgb(82, 56, 46) 1px solid;
    background-color: rgb(225, 225, 225);
}

#play{
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 55px;

    border: solid 5px rgb(163, 104, 83);
    background: transparent;
    color:rgb(163, 104, 83);

    cursor:pointer;
}

#play:hover{
    background-color: rgb(163, 104, 83);
    color:  rgb(225, 225, 225);
}

