<main>
  {{nombre + " " + apellido}}
  <input type="number" #inputdato placeholder="pon un numero"/>
  <button (click)="ejecutar(inputdato.valueAsNumber)" type="button">Click me!</button>
  <br>
    <ul>
      <li **ngFor="let item of tableResult">
        {{item}}
      </li>
    </ul>

    <br>
    <table border="1">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of arr">
          <td>{{ persona.nombre }}</td>
        </tr>
      </tbody>
    </table>  
</main>
