<!-- <form
[formGroup]="mascotaFormData"
(submit)="guardarMascota()"
>
  <input type="text" id="nombre" formControlName="nombre" placeholder="nombre" /><br>
  <input type="text" id="peso" formControlName="peso" placeholder="peso" /><br>
  <input type="text" id="edad" formControlName="edad" placeholder="edad" /><br>

  <br>
  <button type="submit">Guardar</button>
</form>




  <ul>
    <li *ngFor="let item of mascotas">
      {{item.nombre}}
    </li>
  </ul> -->

  <p>{{gatosAPIArr | json}}</p>
  <div *ngFor="let item of gatosAPIArr" style="flex-direction: row;">
    <img src={{item.url}} alt="gatitp" width="350" height="350">
  </div>
